body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
   
}
header h1{
    color: white;
   padding-top: 20px;
}
header img{
    position: absolute;
    width: 100px;
    padding-left: 120px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.tv-channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.channel {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.channel:hover {
    transform: scale(1.05);
}

.channel img {
    width: 100%;
    height: auto;
}

.channel p {
    margin: 0;
    padding: 0.5rem;
    background-color: #333;
    color: white;
}
a{
    text-decoration: none;
}
nav ul li {
    
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    
}
nav ul li a{
    text-decoration:none;
    color: #ffffff;
}



body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

/*habilita a seleção nos campos editaveis*/
input, textarea {
    -webkit-touch-callout: initial; /* iOS Safari */
      -webkit-user-select: text; /* Chrome/Safari/Opera */
       -khtml-user-select: text; /* Konqueror */
         -moz-user-select: text; /* Firefox */
          -ms-user-select: text; /* Internet Explorer/Edge */
              user-select: text;
}

/*habilita a seleção nos campos com o atributo contenteditable*/
[contenteditable=true] {
    -webkit-touch-callout: initial; /* iOS Safari */
      -webkit-user-select: all; /* Chrome/Safari/Opera */
       -khtml-user-select: all; /* Konqueror */
         -moz-user-select: all; /* Firefox */
          -ms-user-select: all; /* Internet Explorer/Edge */
              user-select: all;
}
.development-message{
    width: 1000px;
    color: #ffffff;
}
